*{
    padding : 0;
    margin : 0;
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: url("https://images.squarespace-cdn.com/content/v1/5879d07fbf629abac08512f3/1557670333139-QELN68IJX6Q3RVXYW4YD/sunset-phnom-penh-1.jpg?format=2500w");
    background-position-y : 90%;
}
section{
    height: fit-content;
    width: 100%;
    margin: 0;

}

body{
    background-image: url("https://images.squarespace-cdn.com/content/v1/5879d07fbf629abac08512f3/1557670333139-QELN68IJX6Q3RVXYW4YD/sunset-phnom-penh-1.jpg?format=2500w");
    background-position-y : 90%;
    background-attachment: fixed;
    
}
.hero{
    height: 742px;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 8% ;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.589); ;
}
nav ul li{
    list-style-type: none;  
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
}
h2{
    color: white;
    
}
/* nav ul li:hover{
    background-color: black;
} */
nav ul li a:hover{
    color: cyan
}
.navigation{
    margin-left: 15px;
    color: white;
}
.navigation span{
    color: rgb(75, 179, 179);
}
.welcome{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin-top :10%;
    background-color: rgba(0, 0, 0, 0.589);
    
    font-size: 80px;
}
.welcome p{
    margin: 0;
    color: white;
    font-family: 'Mohave', sans-serif;
    font-weight: bold;

}
.welcome span{
    color: aqua;
    font-family: 'Mohave', sans-serif;
    font-weight: bold;

}
.about{
    height: 742px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.466);
    
    padding-top: 40px;
}
.about h2{
    padding: 40px;
    font-size: 30px;
    padding-left: 70px;
}
.about h2 span{
    color: rgb(87, 241, 241);
}
.text{
    display: flex;
    flex-direction: row;
    height: 30%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.589); 
    margin-bottom: 40px;
}
.text p {
    display: flex;
    align-items: center;
    margin: 50px;
    font-size: 20px;
    line-height: 28px;
    color: white;
}

.attraction {
    height: fit-content;
    width: 100%;
    
    background-color: rgba(128, 128, 128, 0.466);
    padding-top: 40px;
}
.attraction h2{
    padding: 40px;
    font-size: 30px;
    padding-left: 70px;
    color: white;
}
.attraction h2 span{
    color: rgb(87, 241, 241);
}
.attraction h3{
    color:rgb(0, 255, 234);
    padding: 20px;
    font-size: 20px;
}
.attraction .text img{
    height: 400px;
    width: 400pxs;
}
.food{
    height: 742px;
    color: white;
    background-color: rgba(128, 128, 128, 0.295);
}
.box{
    justify-content: center;
    align-items: center;
    display: flex;
}
.card{
	height: 500px;
	width: 335px;
	padding: 20px 35px;
	background: #3f3c3c;
	border-radius: 20px;
	margin: 15px;
	
	
	text-align: center;
}
.card p {
    font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card > img{
    padding: 20px;
    height: 200px;
    width: 200px;
}
.food h2{
    font-size: 40px;
    text-align: center;
    margin: 30px;
}
.card h5{
    margin: 10px;
    padding: 10px;
    font-size: 19px;
}
.pork{
    
}
span{
    color: aqua;
}
.end{
	
	color:rgb(73, 206, 206);
    background-color:rgba(128, 128, 128, 0.466) ;
    
    
    margin-top: 0px;
    text-align: center;
}